HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

# Terraform
ci/terraform.tf
*.tfvars
rad/
out/
.idea/*
**/.terraform/
**/*.tfvars
**/*.tfstate
**/*.tfstate*
**/terraform.tf

#Logs
*.log
*.jks
*.pem
*.crt
*.p12
.idea
